---
layout: base.njk
title: The Roost
permalink: /roost/
description: Our open-door bakehouse - a place to gather and celebrate simple, heartfelt living.
---

<section class="hero bg-cream text-black">
  <div class="size-[65%] parallax-layer" data-speed="2">
    <img src="/images/wildmanGradientTransparent-opt.png" class="">
  </div>
  <div class="absolute size-[50%] parallax-layer top-0 right-4 z-10" data-speed="0.0001"> 
    <img src="/images/wildmanSignPaint-opt.png" class="rotate-[2deg]">
  </div>
  <div class="font-coustard text-justify parallax-layer w-2/3 pl-10" data-speed="1.5">
  <h1 class="text-cream-900">Dirty Boots Roost</h1>
  <h3>- 17 Wildman Street, Kendal -</h3>
  <img src="/svgs/curve.svg" class="absolute svg-yellow top-14 z-0 left-[20%] height-[75%] width-[100%] parallax-layer" data-speed="0.15" data-spin="-0.06">
  <p class="w-[72%] text-2xl text-pretty pt-24">
  The home to our open door bakehouse, where you're always welcome.
  We bake all the goods for our mobile café here and prep for any local deliveries.
  You'll find the door unlocked from Tuesday till Thursday - 4am till 6pm
  Come on in for a coffee, or goods straight out of our oven.
  </p>
  </div>
  
</section>
